


body {
    background : url('../src/images/bgretro.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin : 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 13px;
}

@media screen and (max-width: 700px) {
    body {
        background : url('../src/images/smallbg.jpg');
        background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
  }